// Here you can add other styles
$critical: #ff4e4e;
$warning: #ffc563;
$normal: #00fd36;


.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.normal {
  color: $normal;
}

.big {
  font-size: 28px;
}

.warning {
  color: $warning;
}

.critical {
  color: $critical;
}

.text-bubble {
  background-color: rgba(1, 85, 217, 0.44);
  color: white;
  border-radius: 20px;
  width: fit-content;
  text-align: center;
  margin: 4px;
  padding: 2px 11px 2px 11px;
  display: inline-block;
}
